# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Composer
vendor/
composer.lock

# Build files
dist/
build/
*.zip

# Environment files
.env
.env.*

# Log files
*.log

# Backup files
*.bak
*~

# WordPress specific
wp-config.php